.App {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

/* .App * {
  border: red dotted 2px;
} */

.wrapper {
  /* margin-top: 50px; */
  /* margin: 0px;
  padding: 0px; */

  height: 1700px;
  width: 100%;
  background: url("https://wallpaperaccess.com/full/2056565.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  padding-top: 20px;
}

.titleBox {
  background-color: white;
  margin: auto;
  opacity: 50%;

  width: 50%;
}

nav {
  margin: auto;
  width: 90%;
  padding: 10px;
  box-shadow: 10px 10px;
  /* border: rgb(40,44,52); */
  /* margin-bottom: 50px; */
}

.image1 {
  margin-top: 50px;
  width: 50.5%;
  height: auto;
  /* background-color: white; */
}

.image2 {
  width: 21%;
}

.homeMiddleSection {
  display: flex;
  justify-content: center;
  align-content: space-between;
  /* margin: 0px 50px */
}

.banner {
  padding: 10px;
  border: 2px solid;
  margin: 30px;
}

.banner h1 {
  font-family: "Brush Script MT";
  font-weight: bold;
  font-size: xx-large;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  top: -50px;
  width: 15%;
  margin-bottom: -40px;

  background-color: white;
}

.ap-form-top {
  display: block;
  margin-top: -30px;
}

.form-row {
  width: 100%;
  justify-content: space-around;
  text-align: left;
  margin: 0.5%;
  font-size: larger;
}

.form-group {
  width: 30%;
  margin: 0.5%;
}

.form-heading {
  display: flex;
  font-size: x-large;
  justify-content: center;
  align-content: space-between;
  background-color: #00b0f4;
  box-shadow: 5px 5px;
  margin: 5% 10% 5% 10%;
}

.confirm-group {
  justify-content: center;
  margin: 5% 25% 5% 25%;
  border: 3px solid #00b0f4;
  box-shadow: 5px 5px;
}

/* Updated */
