@import "~bootstrap/scss/bootstrap";
.App {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.wrapper {
  /* margin-top: 50px; */
  /* margin: 0px;
    padding: 0px; */
  width: 100%;
  height: 100%;
  background: url("https://wallpaperaccess.com/full/2056565.jpg");
  /* background-color: rgb(202,202,202); */
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container {
  width: 100%;
}

.titleBox {
  margin: auto;
  width: 50%;
  font-size: 70px;
  font-style: italic;
  font-weight: bolder;
  color: white;
}

.navBarParent {
  position: sticky;
  top: 0;
  z-index: 2;
}

/* .carLogo {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRMdufZxswY-7yZ6Lu2LJu_VAywVjrRfXMPQ&usqp=CAU");
  opacity: 50%;
} */

.navBar {
  margin: auto;
  margin-bottom: 1%;
  width: 95%;
  padding: 10px;
  box-shadow: 0px 5px 10px 10px;
  border-radius: 10px;
  font-size: 2px;
  text-decoration: none;
  background-color: #00b0f4;
}

/* @media (min-height: 300px) {
  nav {
    position: sticky;
    top: 0;
  }
} */

.navBar a {
  color: black;
  font-size: 20px;
  padding: 5px;
  font-weight: bold;
  margin: 25px;
  &:hover {
    font-size: 22px;
    text-shadow: 1px 1px black;
  }
}

.navBarHome {
  margin-left: 100px;
}

.banner {
  padding: 10px;
  border: 2px solid black;
  margin: 5%;
  background-color: rgb(240, 240, 240);
  box-shadow: 0px 1px 10px 5px;
}

.banner h1 {
  font-family: "Brush Script MT";
  font-weight: bold;
  font-size: xx-large;
  padding-left: 0.5px;
  padding-right: 0.5px;
  position: relative;
  top: -50px;
  width: 10%;
  margin-bottom: -40px;
  background-color: #00b0f4;
  z-index: 1;
  border: black 1px solid;
  box-shadow: 3px 3px;
}
