.banner {
  padding: 10px;
  border: 2px solid white;
  margin: 5%;
}

// .banner h1 {
//   font-family: "Brush Script MT";
//   font-weight: bold;
//   font-size: xx-large;
//   padding-left: 0.5px;
//   padding-right: 0.5px;
//   position: relative;
//   top: -50px;
//   width: 10%;
//   margin-bottom: -40px;
//   background-color: white;
//   z-index: 1;
// }

.banner h1 {
  font-family: "Brush Script MT";
  font-weight: bold;
  font-size: xx-large;
  // padding-left: 0.5px;
  // padding-right: 0.5px;
  position: relative;
  top: -50px;
  width: 15%;
  margin-bottom: -40px;
  background-color: #00b0f4;
  border: black solid 1px;
  z-index: 1;
  box-shadow: 3px 3px;
}

.apFormTop {
  display: block;
  box-shadow: 0px 5px 10px 10px;
  margin: 2% 5% 0% 5%;
}

.formHeading {
  width: 100%;
  padding: 0.25%;
  margin-top: 0%;
  margin-bottom: 0%;
  display: flex;
  font-size: x-large;
  font-style: italic;
  font-weight: bold;
  justify-content: center;
  background-color: #00b0f4;
}

.formSection {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  background-color: white;
}

.formRow {
  width: 70%;
  justify-content: center;
  text-align: left;
  margin: 0%;
  font-size: larger;
}

.formGroup {
  display: inline-flex;
  justify-content: space-around;
  align-self: center;
  width: 50%;
  margin: 1%;
}

.formBalance {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 1%;
}
.confirmGroup {
  justify-content: center;
  margin: 5% 25% 5% 25%;
  background-color: white;
  border-radius: 25px;
  box-shadow: 5px 5px;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}

.serviceCheckboxes {
  display: flex;
  margin: 1%;
  height: auto;
  justify-content: space-evenly;
}

.serviceType {
  display: inline-block;
}

.serviceType div label {
  margin-left: 5px;
}

.formComments {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 1%;
}

.formCommentsLeft {
  width: 25%;
}

.formCommentsRight {
  width: 75%;
}

.confirmLabel {
  width: 100%;
  border-radius: 25px 25px 0px 0px;
  background-color: #00b0f4;
}

.submit {
  background-color: #00b0f4;
  color: black;
  border: 1px solid black;
  border-radius: 15px;
  font-size: 24px;
  font-weight: bold;
  &:hover {
    transition: 1s;
    font-style: italic;
    background-color: rgb(85, 216, 85);
  }
}

.timeBox {
  border: 0.5px solid black;
  background-color: #f0f0f0;
  border-radius: 10px;
  width: 100%;
}
