.App {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

/* .App * {
    border: red dotted 2px;
  } */

.titleBox {
  font-family: 'Lobster', cursive;
  background-color: #00b0f4;
  box-shadow: 0px 1px 10px 5px;
  margin: auto;
  margin-bottom: 20px;
  width: 50%;
  font-size: 60px;
  font-style: italic;
  font-weight: bold;
}

.wrapper {
  /* margin-top: 50px; */
  /* margin: 0px;
    padding: 0px; */
  width: 100%;
  background: url("https://wallpaperaccess.com/full/2056565.jpg");
  /* background-color: rgb(202,202,202); */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  padding-top: 20px;
}

.image1 {
  margin-top: 50px;
  width: 50.5%;
  height: auto;
  background-color: white;
  /* border: 1px solid black; */
  padding: 20px;
}

.image2 {
  width: 21%;
  background-color: white;
  padding: 20px;
  /* border: 1px solid black; */
}

.img3 {
  width: 30%;
}

.homeTopSection {
  max-height: 700px;
  // display: flex;
  // align-content: center;
}

.quickSchedule {
  margin: 5%;
}

.quickSchedule button {
  border-radius: 10px;
  border: 2px solid black;
  color: black;
  background-color: white;
  box-shadow: 0px 1px 10px 5px;
  &:hover {
    transition: ease-in 0.5s;
    background-color: #00b0f4;
  }
}

.homeMiddleSection {
  display: flex;
  justify-content: center;
  align-content: space-between;
  /* margin: 0px 50px */
}

.homeMidBox {
  display: flex;
  justify-content: center;
  margin: 50px;
  transition-property: height;
  transition: height 2s;
  height: 200px;
  &:hover {
    // color: darkblue;
    height: 400px;
  }
}

.homeMidBox div {
  border: 1px black solid;
  margin: 0px 65px;
  padding: 20px;
  background-color: #00b0f4;
  box-shadow: 0px 1px 10px 5px;
  border-radius: 10px;
}

.homeMidP {
  font-weight: bold;
  font-size: 20px;
}

.quote {
  background-color: #00b0f4;
  padding: 10px;
  /* min-height: 100px; */
  /* color: white; */
  font-size: 25px;
  font-weight: bolder;
  font-style: italic;
  border: 1px solid black;
  box-shadow: 0px 1px 10px 5px;
  margin: 100px 0px 75px 0px;
}

.locationBox {
  padding: 2%;
  /* min-height: 100px; */
  background-color: #f0f0f0;
  display: inline-flex;
  /* justify-content: space-around; */
  margin-bottom: 100px;
  border: black 1px solid;
  box-shadow: 0px 1px 10px 5px;
}

.locationBoxText {
  padding: 15%;
}

footer {
  /* display: flex; */
  background-color: #00b0f4;
  border-top: black 2px solid;
  border-bottom: black 2px solid;
  box-shadow: 0px 10px 20px 10px;
  /* footer div { */
  /* margin: 20px; */
}

footer div a {
  margin: 0px 50px;
  color: white;
}

/* Updated */
