.App {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

/* .App * {
    border: red dotted 2px;
  } */

.wrapper {
    /* margin-top: 50px; */
    /* margin: 0px;
    padding: 0px; */
    width: 100%;
    background: url("https://wallpaperaccess.com/full/2056565.jpg");
    /* background-color: rgb(202,202,202); */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    padding-top: 20px;
}

.titleBox {
    background-color: #00b0f4;
    box-shadow: 0px 1px 10px 5px;
    margin: auto;
    margin-bottom: 20px;
    width: 50%;
    font-size: 60px;
}
/* 
nav {
    margin: auto;
    width: 90%;
    padding: 10px;
    box-shadow: 10px 10px 20px 10px;
    border-top: black 2px solid;
    border-bottom: black 2px solid;
    border: rgb(40,44,52);
    margin-bottom: 50px;
} */

nav a {
    font-size: 20px;
    font-weight: bold;
    margin: 25px;
}

.image1 {
    margin-top: 50px;
    width: 50.5%;
    height: auto;
    background-color: white;
    /* border: 1px solid black; */
    padding: 20px;
}

.image2 {
    width: 21%;
    background-color: white;
    padding: 20px;
    /* border: 1px solid black; */
}

.homeMiddleSection {
    display: flex;
    justify-content: center;
    align-content: space-between;
    /* margin: 0px 50px */
}


.homeMidBox {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.homeMidBox div {
    border: 1px black solid;
    margin: 0px 65px;
    padding: 20px;
    background-color: #00b0f4;
    box-shadow: 0px 1px 10px 5px;
    border-radius: 10px;
} 

.homeMidP {
    font-weight: bold;
    font-size: 20px;
}

.location-box {
    padding: 2%;
    /* min-height: 100px; */
    background-color: #f0f0f0;
    display: inline-flex;
    /* justify-content: space-around; */
    margin-bottom: 100px;
    border: black 1px solid;
    box-shadow: 0px 1px 10px 5px;
}

footer {
    /* display: flex; */
    background-color: #00b0f4;
    border-top: black 2px solid;
    border-bottom: black 2px solid;
    box-shadow: 0px 10px 20px 10px;
}
/* footer div { */
    /* margin: 20px; */
/* } */

footer div a {
    margin: 0px 50px;
    color: white;
}

/* Updated */